@page "/api/WaveRelease/EnviarWave"
@model APIWaveRelease.Pages.EnviarCacheModel

@section Scripts {
    <link rel="stylesheet" href="~/css/enviarCache.css" />
    <script src="~/js/enviarCache.js" defer></script>
}

<!-- Contenedor del Modal -->
<div id="customModalOverlay" class="modal-overlay" style="display: none;">
    <div id="customModalContent" class="modal-content">
        <h3 id="customModalTitle"></h3>
        <p id="customModalMessage"></p>
        <div id="customModalActions" class="modal-actions">
            <!-- botones -->
        </div>
    </div>
</div>

<!-- Overlay de Carga Global -->
<div id="globalLoaderOverlay" class="modal-overlay" style="display: none; background-color: rgba(0, 0, 0, 0.7); z-index: 2000;">
    <div class="loader"></div>
</div>


<!-- Popup de Login -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <h3>Autorización requerida para Enviar Wave</h3>
        <div id="loginMessage" class="message-error"></div>

        <div class="form-group">
            <input class="input-modal" type="text" id="username" placeholder="Usuario" required>
            <div class="validation-message" id="userError"></div>
        </div>

        <div class="form-group">
            <input class="input-modal" type="password" id="password" placeholder="Contraseña" required>
            <div class="validation-message" id="passError"></div>
        </div>

        <button type="submit" class="custom-button custom-button-filled">Ingresar</button>
    </div>
</div>


<!-- html -->
<div class="container" id="mainContent" style="display: none;" data-admin-password='@Json.Serialize(Model.AdminPassword)'>
    <div class="tabs-container">
        <div class="tabs">
            <div class="tab active" id="tabEnviar">Enviar a WaveRelease</div>
            <div class="tab" id="tabExtra">
                Wave Admin <span id="adminLockIcon" class="lock-icon"></span>
            </div>
            <!-- <div class="tab" id="tabDB" onclick="showTab('db')">???</div> -->
        </div>
        <div class="tab-content" id="tabContentEnviar">
            <h1>Envío de WaveCache a WaveRelease</h1>

            <div>
                <div id="waveStatusContainer">
                    @await Component.InvokeAsync("WaveStatus")
                </div>
                <div id="waveReleaseStatusContainer">
                    @await Component.InvokeAsync("WaveReleaseStatus")
                </div>
            </div>

            <div id="messageContainer"></div>
            <div class="loader" id="loaderEnviar" style="display: none;"></div>
            <form method="post" id="myForm" class="tab-form">
                @Html.AntiForgeryToken()
                <button type="submit" class="custom-button custom-button-filled" id="submitBtn">
                    Enviar Datos a WaveRelease
                </button>
            </form>
        </div>
        <div class="tab-content" id="tabContentExtra" style="display:none;">
            <h1>Acciones Admin Wave</h1>
            <div class="alert alert-warning" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div>
                    <strong>Cuidado:</strong> Las siguientes acciones son irreversibles.
                </div>
            </div>
            <div id="messageContainerExtra"></div>
            <div class="loader" id="loaderExtra" style="display: none;"></div>
            <div class="action-group">
                <button type="button" class="custom-button custom-button-outline custom-button-danger" id="eliminarCacheBtn">
                    Eliminar Datos de WaveCache
                </button>
                <hr class="separator">
                <button type="button" class="custom-button custom-button-outline custom-button-danger" id="cerrarWaveBtn">
                    Cerrar WaveRelease
                </button>
            </div>
        </div>
        <div class="tab-content" id="tabContentDB" style="display:none;">
            <h2>Acciones Vistas BD</h2>
            <div id="messageContainerDB"></div>
            <div class="loader" id="loaderDB" style="display: none;"></div>
        </div>
    </div>
</div>